@import "tailwindcss";

@theme {
	--color-primary: #171717;
	--color-secondary: #3984e2;
	--color-background: #ffffff;
	--color-success: #1fd742;
	--color-warning: #fdcb6e;
	--color-error: #d63031;
	--color-border: #dfe6e9;

	--color-text-primary: var(--color-primary);
	--color-text-secondary: #636e72;

	--color-button-primary-bg: var(--color-success);
	--color-button-primary-text: var(--color-background);
	--color-button-invisible-hover: #eee;
	--color-button-invisible-focus: #eee;
	--color-select-focus: #eee;

	--font-sans: var(--font-geist-sans);
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
